*{
    font-family: DejaVuMono;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button, #custom-superplus{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    /*background-color: #181818;*/
    background-color: #0A0A0A;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    background: #7C9D96;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#idle_inhibitor,
#custom-applications,
#custom-superplus,
#custom-off,
#custom-rotate_hyprpaper,
#network{
    padding: 0 10px;
    border-radius: 15px;
    font-weight: bolder;
    /*background-color: #221D18;*/
    background-color: #0A0A0A;
    /*border: 2px solid #D0621E;*/
}
#clock, #custom-applications, #custon-superplus, #tray{ 
    /*margin-right: 10px;*/
    /*background-color: #0A0A0A;*/
    border: 2px solid #D0621E;
}
