[Unit]
Description=Hyprland compositor session
Documentation=man:systemd.special
Requires=basic.target
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target
Before=waybar.service
Before=hypridle.service
Before=ssh-agent.service
Requires=ssh-agent.service
Requires=waybar.service
Requires=hypridle.service
Requires=rotate_hyprpaper.timer
