i3-msg -t run_command "exec --no-startup-id /usr/bin/picom -b --blur-background --config $HOME/.config/picom/picom.conf"
i3-msg -t run_command "exec --no-startup-id /usr/bin/dunst"
i3-msg -t run_command "exec --no-startup-id /usr/bin/nm-applet"
#i3-msg -t run_command "exec --no-startup-id /usr/bin/pasystray"
i3-msg -t run_command "exec --no-startup-id /usr/bin/pa-applet"
i3-msg -t run_command "exec --no-startup-id /usr/bin/blueman-applet"
#i3-msg -t run_command "exec --no-startup-id /usr/bin/feh --bg-fill $HOME/Pictures/kanti-tearing-wires.jpg"
#i3-msg -t run_command "exec --no-startup-id /usr/bin/feh --bg-scale --no-xinerama \"$HOME/Nextcloud/Photos/Orion Nebula doublewide-3840x1080.jpg\""
i3-msg -t run_command "exec --no-startup-id /usr/bin/feh --bg-fill $HOME/Nextcloud/Photos/backgrounds/Camps_on_the_Shattered_Plains.jpg"
i3-msg -t run_command "exec --no-startup-id /usr/bin/tilda"
i3-msg -t run_command "exec --no-startup-id /usr/bin/nextcloud"
i3-msg -t run_command "exec --no-startup-id /usr/bin/synergy"
i3-msg -t run_command "exec --no-startup-id /usr/bin/pcmanfm -d"
i3-msg -t run_command "exec --no-startup-id /usr/bin/discord --start-minimized"
i3-msg -t run_command "exec --no-startup-id /usr/bin/slack -u"
i3-msg -t run_command "exec --no-startup-id /usr/bin/redshift-gtk"
i3-msg -t run_command "exec --no-startup-id /usr/bin/kdeconnect-indicator"
i3-msg -t run_command "exec --no-startup-id /usr/bin/caffeine-indicator"
#i3-msg -t run_command "exec --no-startup-id /usr/bin/touchegg"
